/bin/
debug/
debug_x64/
release/
release_x64/
lib_x64/
lib/
moc/
ui/
cmake_local/
VC8/
VC9/
VC10/
VC12/
VC14/
BCB2007/
.svn/


Makefile.Debug
Makefile.Release
Makefile
*.obj
*.qmake.stash
*.pro.user
*.pro.user*
*.cpp.autosave
*.h.autosave
*.autosave
*.lib
*.pdb
/externals/lib_x64/
